.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
resources/images/
resources/videos/
resources/icons/anki-editor-icon.svg
node_modules/
development.md
.eslintrc
*.vsix
out/*.js.map
